<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:/Event/etc/events.xsd">
    <event name="controller_action_postdispatch">
        <observer name="yireo_example_observer_log_controller_action"
            instance="Yireo\ExampleObserver\Observer\LogControllerAction"/>
    </event>
</config>
